body {
    margin: 0;
    padding: 0;
    background-image: url("https://wallpaperaccess.com/full/2722030.jpg");
    background-size: cover;
}

header {
	background-color: #00AEEA;
    color: #eee;
    font-weight: bold;
    text-align: center;
    text-shadow: 0 0 3px red, 0 0 5px #0000FF;
	height: 60px;
	padding-top: 5px;
	display: block;
	margin-top: 0px;
	margin-bottom: 60px;
	box-sizing: border-box;
	position: relative;
	width: 100%;
}

td {
    border: 5px solid #CCC;
    height: 100px;
    width: 100px;
    text-align: center;
    vertical-align: middle;
    font-family: "Comic Sans MS", cursive, sans-serif; 
    font-size: 70px;
    cursor: pointer;

}

table {
    border-collapse: collapse;
    position: absolute;
    left: 50%;
    margin-left: -155px;
    top: 170px;
    color: #444;
	background: #F8F8F8;
    border: 1px solid #CECECE;
	border-radius: 5px;
    box-shadow: 1px 1px 1px #CCC;
}

table tr:first-child td{
    border-top:0;
}

table tr:last-child td{
    border-bottom: 0;
}

table tr td:first-child {
    border-left: 0;
}

table tr td:last-child {
    border-right: 0;
}

#bnt-restart {
	display: block;
	padding: 10px;
	margin-left: 870px;
    margin-top:350px;
	width: 200px;
	background: #00AEEA;
	font-size: 1.5em;
	color: #FFF;
	border: none;
	border-radius: 6px;
	cursor: pointer;
}

.endgame {
    display: none;
    width: 200px;
    top: 200px;
    background-color: rgba(205,133,63, 0.8);
    position: absolute;
    left: 50%;
    margin-left: -100px;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-size: 2em;
  }

footer{
    font-size: larger;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    text-shadow: 0 0 3px whitesmoke, 0 0 5px #0000FF;
    text-align: center;
}